{{ if .Params.avatar }}
{{ if (fileExists .Params.avatar) }}
<img class="screenshot" src="{{ .Params.avatar }}" title="{{ .Params.Fullname }}" alt="">
{{ end }}
{{ else if (fileExists (path.Join "static/images/people/" (delimit (slice (.File.TranslationBaseName) "jpg") "."))) }}
<img class="screenshot" src="{{ .Site.BaseURL }}/images/people/{{ .File.TranslationBaseName }}.jpg" title="{{ .Params.Fullname }}" alt="">
{{ else if (fileExists (path.Join "static/images/people/" (delimit (slice (.File.TranslationBaseName) "png") "."))) }}
<img class="screenshot" src="{{ .Site.BaseURL }}/images/people/{{ .File.TranslationBaseName }}.png" title="{{ .Params.Fullname }}" alt="">
{{ else }}
<img class="screenshot" src="{{ .Site.BaseURL }}/images/fabnum.png" title="{{ .Params.Fullname }}" alt="">
{{ end }}