{{ define "main" }}
<main id="main">
    <div class="page article" id="presentation">
        {{ partial "hero-page.html" . }}
    </div>

    <section class="documentation">
        <div class="main-pane">
            <div class="markdown">
                {{ .Content }}
            </div>
            {{ $phases := (where .Site.RegularPages "Section" "==" "phases").ByParam "order" }}
            {{ $startups := .Pages }}
            {{ range $phases }}
            {{ $status := .Params.status }}
            <div id="{{ $status }}" style="padding-top: 4em;">
                <h2 class="phase-title">En {{ lower .Params.Label }}</h2>
                <p class="phase-description">{{ .Params.short_description }}.</p>
                <div class="grid">
                    {{ range $startups }}
                    {{ $startup := . }}
                    {{ range last 1 .Params.phases }}
                    {{ $lastPhase := .name }}
                    {{ if eq $status $lastPhase }}
                    {{ partial "startup/card.html" $startup }}
                    {{ end }}
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </section>
</main>
{{ end }}