<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="footer__logo">
            <img src="{{ .Site.BaseURL }}/images/logo-la-fabrique-numerique.svg" alt="MTES-MCT">
            <ul class="footer__social">
                <li><a href="https://la-fabrique-numerique.slack.com" title="Slack"><svg class="icon icon-slack">
                            <use xlink:href="#icon-slack"></use>
                        </svg></a></li>
                <li><a href="https://github.com/MTES-MCT" title="Github"><svg class="icon icon-github">
                            <use xlink:href="#icon-github"></use>
                        </svg></a></li>
                <li><a href="mailto:fabriquenumerique@beta.gouv.fr" title="Nous écrire un mail"><svg class="icon icon-mail">
                            <use xlink:href="#icon-mail"></use>
                        </svg></a></li>
            </ul>
        </div>
        <ul class="footer__links">
            <li>
                <h2>La fabrique numérique</h2>
            </li>
            <li><a href="https://www.transition-ecologique.gouv.fr/">Ministère de la transition écologique</a></li>
            <li><a href="https://www.cohésion-territoires.gouv.fr/">Ministère de la cohésion des territoires et des relations avec les collectivités territoriales</a></li>
            <li><a href="https://beta.gouv.fr">beta.gouv.fr</a></li>
        </ul>
        <ul class="footer__links"></ul>
    </div>
</footer>